<html>
    <body>
        <h1>Agregar Contactos</h1>
        <form action="/submit" method="post">
            <table>
                <td>
                    <label for="firstName">Nombre:</label><br />
                    <input type="text" name="firstName" />
                </td>
                <td>
                    <label for="lastName">Apellido:</label><br />
                    <input type="text" name="lastName" />
                </td>
                <td>
                    <label for="cellphone">Télefono:</label><br />
                    <input type="text" name="cellphone" />
                </td>
                <td>
                    <label for="email">Correo:</label><br />
                    <input type="text" name="email" />
                </td>
                <td><br /><input type="submit" value="Agregar" /></td>
            </table>
        </form>
    </body>
</html>
